---
---

@import "{{ site.theme }}";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,300);

h1.title {
  color: #537592;
  font-size: 30px;
}

img.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#container {
  background: inherit;
  margin-top: -15px;
  background-image: url({{ '/assets/water-drop.svg' | relative_url }});
  background-repeat: no-repeat;
  background-position-y: 590px;
}

#main {
  margin-top: inherit;
  background-color: inherit;
  background-image: linear-gradient(90deg, rgba(82,156,255,1) 0%, rgba(232,232,236,1) 44%, rgba(255,255,255,1) 100%);

}

header {
  background-color: white;
  padding-bottom: 20px;
}
